* {
    font-family: 'Sharp Sans No1';
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Sharp Sans No1';
    font-size: 76px;
    font-weight: 770px;
    color: #000000;
}

h2 {
    font-family: 'Sharp Sans No1';
    font-size: 54px;
    font-weight: 770px;
    color: #151414;
}

h3 {
    font-family: 'Sharp Sans No1';
    font-size: 36px;
    font-weight: 770px;
    color: #151414
}

h4 {
    font-family: 'Sharp Sans No1';
    font-size: 30px;
    font-weight: 770px;
    color: #181D19;
}

p {
    font-family: 'Sharp Sans No1';
    font-size: 22px;
    font-weight: 750px;
    color: #151414;
}

.green-button {
    padding: 16px 41px;
    border-width: 0px;
    border-radius: 50px;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    font-family: 'Sofia Pro';
    font-size: 24px;
    font-weight: 400px;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}